.status-bar{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30 px;
  opacity: 0.7;
}


.status-bar i{
  font-size: 14px;

}
.status-bar .status-bar_battery-level {
  margin-left: 5px;
}